
body{
    background-image:url('רקע.jpeg');
    background-repeat:no-repeat;
    width: 98vw;
    
    height:97.8vh;
    background-size: 100% 100%;
    
}#t{
    margin-top: 20vh;
    margin-left: 20%;
    margin-bottom: 13%;
    cursor: pointer;
}#loggin{
    width: 15vw;
    margin-bottom: 90vh;
    
 
   
}img:hover{
    opacity: 0.6;
}* {
    margin: 0;
    padding: 0;
  }
 
  a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
  }
  
  